/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    background-color: #1F2937;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.nav-bar {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 200px;
    margin-bottom: 200px;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 48px;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #00A19D;
}

.header-btn {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #1566d1;
    border-radius: 3px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #E5E7EB;
    font-family: Arial;
    font-size: 15px;
    padding: 7px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    margin-top: 5px;
    ;
}

.myButton:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.flex-container {}

h2 {
    font-size: 36px;
    padding-left: 140px;
    font-family: 'Merriweather', serif;
}

.container1 {
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    justify-content: center;
    margin-left: 350px;
}

p {
    font-family: 'Merriweather', serif;
}

.con-text {
    height: 50px;
}

.part1 {
    height: 150px;
    width: 150px;
}

.boxes {
    display: flex;
    flex-direction: row;
}

.box1 {
    height: 100px;
    width: 100px;
    border: 2px solid #0F52BA;
    border-radius: 5px;
}

.part2 {
    height: 150px;
    width: 150px;
}

.box2 {
    height: 100px;
    width: 100px;
    border: 2px solid #0F52BA;
    border-radius: 5px;
}

.part3 {
    height: 150px;
    width: 150px;
}

.box3 {
    height: 100px;
    width: 100px;
    border: 2px solid #0F52BA;
    border-radius: 5px;
}

.part4 {
    height: 150px;
    width: 150px;
}

.box4 {
    height: 100px;
    width: 100px;
    border: 2px solid #0F52BA;
    border-radius: 5px;
}

.container2 {
    height: 300px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 24px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    margin-left: 250px;
    padding-top: 60px;
}

.quote2 {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
    font-size: 18px;
    margin-right: 50px;
}

.container3 {
    height: 200px;
}

.box5 {
    background-color: #1566d1;
    height: 100px;
    width: 800px;
    margin-left: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    color: white;
}

.action-call {
    margin-top: 30px;
    font-family: 'Merriweather', serif;
}

.btn {
    margin-top: 35px;
    background-color: #1566d1;
    border: 1px solid white;
    color: white;
}

footer {
    background-color: #1F2937;
    height: 100px;
}

.footer-text {
    padding-top: 50px;
    margin-left: 500px;
    font-family: 'Merriweather', serif;
}